MYSQL_ROOT_PASSWORD=CambiaEstaPasswordRoot!2024
MYSQL_DATABASE=qubecore
MYSQL_USER=qubecore_user
MYSQL_PASSWORD=CambiaEstaPasswordUser!2024
JWT_SECRET=TuClaveSecretaSuperLargaDeAlMenos64CaracteresParaHS512QubeCore2024!!
JWT_EXPIRATION=86400000
DOMAIN=api.qubecore.es
